@import "reset";

/*	-------------------------------------------------
	Custom fonts
	------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&subset=cyrillic');
//Variables


$purple:#53379B;
$red:#E8244C;
$yellow: #FBCA50;
$green:#3DE292;
//Mixins 
@mixin transform ($style: translate(0,-50%)){
	-webkit-transform: $style;
	transform: $style;
}

@mixin transition($time) {	
    -moz-transition: all ease-in-out $time;
    -o-transition: all ease-in-out $time;
    -webkit-transition: all ease-in-out $time;
    transition: all ease-in-out $time;
}

@mixin iconfont ($content) {
	content:$content;
	//font-family: '' !important;
	speak: none;
	font-style: normal;	
	font-weight: normal;	
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


/*	-------------------------------------------------
	Basic styles
	------------------------------------------------- */
html {
	height:100%;
	min-width:320px; 
}
body {
	font:normal normal 16px/23px Helmet,"Montserrat", sans-serif; 
	background:#EEEEF0;
	color:#333;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	min-height:100%;
}
html,body{
	//overflow:hidden;
    position: relative;
    height: 100%;
}
a { 
	color:inherit;
	text-decoration:none; 
	&:hover {
		text-decoration:none;
	}
	&.ajax-link {
		text-decoration:none;
		
	}
}

p {  }

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

input[type=text], input[type=password] {
}
textarea {
}
input[type=submit], input[type=button] {
}

* {box-sizing: border-box}
* {
	min-height: 0;
	min-width: 0;
}


/*	-------------------------------------------------
	Print styles
	------------------------------------------------- */
@media print {

}



/*	-------------------------------------------------
	Styles
	------------------------------------------------- */
	
.wrapper { 
	margin:0 auto;
}

.rotate{
	z-index: 10;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: $yellow;
	color:$purple;
	display: none;
	&-text{
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		max-width: 320px;
	}
}

@media (orientation: landscape) and(max-height:568px ){
	.rotate{
		display: flex;
	}
}
@keyframes imgAnimation {
  0%   {
   	opacity: 0;
  	transform:scale(0) 
  }
  90% {
  	transform:scale(1.1)
  }
  100% {
  	transform:scale(1);
   	opacity: 1; 
  }
}
.header{
	z-index: 1000;
	color:#fff;
	text-align: center;
	line-height: 50px;
	position: fixed;
	top:0;
	height:50px;
	width:100%;
	left:0;
	background-color: #000;
}
.toTest{
	color:$red;
	font-size: 20px;
	text-transform: uppercase;
}
.filler{
	margin-bottom: 15px;
	display: flex;
	height:200px;
	&:first-child{
		margin-top: 60px;
	}
	&_double{
		height:150px;
	}
	&_triple{
		height:90px;
	}
	&-unit{
		flex:1;
		height:100%;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
		opacity: .5;
		&:nth-child(1){
			background-color: $purple;
		}
		&:nth-child(2){
			background-color: $yellow;
		}
		&:nth-child(3){
			background-color: $red;
		}
	}
}
.test{
	background-color:#EEEEF0;
	&-wrap{

		margin:0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		width:100%;
		max-width: 767px;
		padding:0 12px;
		height:calc(100vh - 50px);
		max-height: 686px;
		&>.slick-list{
			height:100%;
			&>.slick-track{
				height:100%;
			}
		}
		&_simple{
			.test{
				&-unit{
					&-content{
						&-pretitle{
							text-align: center;
						}
						&-title{
							text-align: center;
						}
					}
					&_final{
						.test-unit-content-pretitle{
							text-align: left;
						}
						.test-unit-content-title{
							margin-bottom: 20vh;
						}
						.test-unit-content-image{
							align-items:flex-start;
						}
					}
					&_question{
						&-pretitle{
							text-align: center;
							&_preBig{
								margin-bottom:10px;
							}
						}
						&-title{
							font-size: 22px;
							line-height: 29px;
							text-align: center;
							&_big{
								font-size: 30px;
								line-height: 30px;
							}
						}
						&-image{
							@include transition(.3s);
							transform:translateX(0);
							
							&_move{

								transform:translateX(-50%);
							}
						}
						&-content{
							padding-bottom: 50px;
						}
						&-top{

							height:calc(100% - 70px);
						}
						&:nth-child(2n-1){
							.test-unit_question-image{
								img{
									opacity: 1!important;
									transform: scale(1)!important;
								}
							}
						}
					}
				}
			}
		}
			
	}
	&-unit{
		display: 	flex;
		flex-direction:column;
		height:100%;
		&-header{
			//flex:1;
			height:73px;
			display: flex;
			justify-content:space-between;
			&-segment{
				height:100%;
				width:calc(50% - 4px);
				opacity: .5;
				&_blue{

					background-color: #35AEE2;
				}
				&_red{
					background-color: #E8244C;
				}
			}
		}
		&-content{
			
			margin-bottom: 19px;
			position: relative;
			display: flex;
			flex-direction:column;
			padding: 52px 18px 21px 18px;
			height:306px;
			border-radius: 10px;
			background-size: cover;
			background-image: url(../images/test-main-bg.svg);
			&-image{
				left:50%;
				transform:translateX(-50%);
				position: absolute;
				bottom:calc(100% - 43px);

			}
			&-pretitle{
				font-size: 16px;
				line-height: 23px;
				font-weight: 600;
				color:$purple;
				margin-bottom:13px;
			}
			&-title{
				color:#fff;
				font-size: 31px;
				line-height: 38px;
				font-weight: 900;
				text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
			}
			&-button{
				margin-top: auto;
			}
		}
		&-socials{
			display: flex;
			justify-content:center;
			font-size: 10px;
			line-height: 15px;
			color:#636164;
			&-unit{
				display: flex;
				align-items:center;
				margin-right: 13px;
				&:last-child{
					margin-right: 0;
				}
				&_facebook{
					.test-unit-socials-unit-icon{
						width:8px;
						height:18px;
						background-image: url(../images/socials-sprite.svg);

					}
				}
				&_vk{
					.test-unit-socials-unit-icon{
						width:20px;
						height:11px;
						background-position: -58px -4px;
						background-image: url(../images/socials-sprite.svg);

					} 
				}
				&_insta{
					.test-unit-socials-unit-icon{
						width:17px;
						height:17px;
						background-position: -125px -1px;
						background-image: url(../images/socials-sprite.svg);

					} 
				}
				&-icon{
					margin-right: 9px;
				}
			}
		}
		&-footer{
			flex:1;
			height:139px;
			margin-top: 32px;
			background-color: #FBCA50;
			opacity: .5;
		}
		&-center{
			margin-top: 155px;
		}
		&_question{
			padding:26px 0 10px 0;
			&.slick-current{
				.test-unit_question-answers-unit{
					opacity: 1;
					transform:translateX(0%);
				}
				.test-unit_question-pretitle{
					opacity: 1;
					transform:translateX(0%);
				}
				.test-unit_question-title{
					opacity: 1;
					transform:translateX(0%);
				}
				.test-unit_question-image{
					img{
						opacity: 1;
						transform:scale(1);
					}
				}
			}
			&-top{
				position: relative;
				display: flex;
				height:calc(100% - 215px);
				
				flex-direction:column;
			}
			&-content{
				height:100%;
				display: flex;
				flex-direction:column;
				border-radius: 10px;
			    padding: 32px 6px 5px 6px;
				background-size: cover;
				
				background-image: url(../images/question-bg.svg);
			}
			&-answers{
				padding:0 10px;
				display: block;
				&-unit{
					display: flex;
					align-items:center;
					height:50px;
					line-height: 20px;
					background-color: #fff;
					border-radius: 6px;
					margin-bottom: 3px;
					font-size: 14px;
					font-weight: 600;
					padding:0 15px 0 22px;
					color:$purple;
					@include transition(.5s);
					opacity: 0;
					transform:translateX(20%);
					&:last-child{
						margin-bottom: 0;
					}
					&:nth-child(2){
						transition-delay:.1s;
					}
					&:nth-child(3){
						transition-delay:.2s;
					}
					&:nth-child(4){
						transition-delay:.3s;
					}
				}
			}
			&-pretitle{
				font-size: 16px;
				line-height: 23px;
				color:$purple;
				font-weight: 600;
				padding:0 10px;
			    margin-bottom: 6px;
				@include transition(.5s);
				opacity: 0;
				transform:translateX(-20%);

			}
			&-title{
				padding:0 10px;
				color:$purple;
				font-size: 18px;
				line-height: 24px;
				font-weight: 900;
				margin-bottom: 10px;
				@include transition(.5s);
				opacity: 0;
				transform:translateX(20%);
				margin-bottom: 20px;
			}
			&-info{
				margin-top:auto;
				width:calc(100% + 20px);
				margin-left: -10px;
			}
			&-image{
				display: flex;
				align-items:center;
				justify-content:center;
				
				img{
					
					max-height: 100%;
					max-width: 100%;
					@include transition(.6s);
					transition-delay:.3s;
					opacity: 0;
					transform:scale(0);
				}

			}
			&-results{
				padding:0 10px;
				display: block;
				
				&-unit{
					display: none;
					&_wrong{
						display: block;
					}
					&-button{
						@include transition(.5s);
						transform:translateX(50%);
						opacity: 0;
						border-radius: 10px;
						box-shadow: 0px 10px 15px rgba(29, 0, 102, 0.4);
						height:105px;
						line-height: 105px;
						font-weight: 900;
						padding:0 20px;
						font-size: 18px;
						color:#fff;
						background-color: $purple;
						margin-bottom: 5px;
						position: relative;
						&:before{
							position: absolute;
							right:20px;
							top:6px;
							content:url(../images/arrow-next.svg);
						}
					}
					&-info{
						@include transition(.5s);
						transform:translateX(-50%);
						opacity: 0;
						height: 105px;
						position: relative;
						z-index: 1;
						background-color: #FEFEFE;
						border-radius: 10px;
						padding:10px 20px;
						&-header{
							display: flex;
							align-items:center;
							justify-content:space-between;
							margin-bottom: 16px;
							&-icon{
								min-width: 20px;
								background-size: cover;
								width:20px;
								height:20px;
								&_red{
									background-image:url(../images/face_red.svg);
								}
								&_green{
									background-image:url(../images/face_green.svg);
								}
							}
							&-title{
								min-height: 31px;
								display: flex;
								align-items:center;
								font-size:17px;
								line-height: 18px;
								font-weight: 600;
								color:$purple;
							}

						}
						&-text{
							font-size: 14px;
							font-weight: 600;
							line-height: 17px;
							&_red{
								color:#E8244C;
							}
							&_green{
								color:#2EAE70;
							}
						}
					}
				}
				&.slick-current{
					.test-unit_question-results-unit-button{
						transform:translateX(0);
						opacity: 1;
					}
					.test-unit_question-results-unit-info{
						transform:translateX(0);
						opacity: 1;
					}
				}
				&_correct{
					.test-unit_question-results-unit_correct{
						display: block;
					}
					.test-unit_question-results-unit_wrong{
						display: none;
					}
				}

			}
			&-button{
				background-color: $purple;
				border-radius: 10px;
				box-shadow: 0px 10px 15px rgba(29, 0, 102, 0.4);
				width:260px;
				margin:0 auto;
				height:70px;
				text-align: center;
				line-height: 70px;
				font-size: 18px;
				font-weight: 900;
				color:#fff;
				margin-top:auto;
				position: relative;
				&_show{
					padding-right: 50px;
					&:before{
					    position: absolute;
				        right: 30px;
	   					top: 1px;
					    content: url(../images/icon-wifi.svg);
					}
				}
				&_next{
					text-align: center;
					padding-right: 25px;
					&:before{
					    position: absolute;
				        right: 24px;
	   					top: 4px;
					    content: url(../images/arrow-next_small.svg);
					}
				}
			}
		}
		&_final{
			padding:26px 0 15px 0;

			&-top{
				display: flex;
				position: relative;
				flex-direction:column;
				height:calc(100% - 56px);
			}
			&-content{
				height:calc(100% - 44px);
				display: flex;
				flex-direction:column;
				border-radius: 10px;
				padding:32px 16px 22px 16px;
				background-size: cover;
				
				background-image: url(../images/end-bg.svg);
				margin-bottom: 22px;
				.test-unit-content-pretitle{
					margin-bottom: 12px;
				}
				
			}
			&-button{
				margin-top:auto;
			}
			&-image{
				display: flex;
				align-items:center;
				justify-content:center;
				margin-bottom: 10px;
				img{
					max-height: 100%;
					max-width: 100%;
				}
			}

		}
	}
	&_alt{
		
		.test{
			&-unit{
				&-content{
					&-pretitle{
						text-align: center;
					}
					&-title{
						text-align: center;
					}
				}
				&_question{
					&.slick-current{
						 .test-unit_question-image img{
						 	transform:scale(1);
						 }
					}
					&_answered{
						.test-unit_question-image{
							&:not(.test-unit_question-image_2){
								opacity: 0;
								transform:translateX(-50%);
							}
							&_2{
								z-index: 1;
								img{
									transform:scale(1)!important;
									opacity: 1!important;
								}
							}
						}
					}
					&-image{
						padding-bottom: 8px;
						@include transition(.3s);
						position: relative;
						&_2{
							z-index: 0;
							bottom:0;
							width:100%;
							position: absolute;
							img{
								transform:scale(0)!important;
								opacity: 0!important;
							}
						}

						img{
							top:0%;
							left:0%;
							
							max-width: 100%;
							position: relative;
							
						}
					}
				}
				&_final{
					.test{
						&-unit{
							&-content{
								&-pretitle{
									text-align: center;
								}
							}
						}
					}
					&-image{
						margin-bottom: 25px;
						height:130px!important;
					}
				}
			}
		}
		&_2{
			.test{
				&-unit{
					&_question{
						&-top{
							height:calc(100% - 122px);
						}
						&-answers{
							height:122px;
							display: flex;
							flex-wrap:wrap;
							justify-content:space-between;
							&-unit{
								padding:0 11px;
								height:60px;
								line-height: 18px;
								font-size: 14px;
								width:calc(50% - 1px);
								margin-bottom:2px;
								&:nth-child(3){
									margin-bottom: 0px;
								}
								&:nth-child(3){
									margin-bottom: 0px;
								}
							}
						}
						&-results{
							position: relative;
							&:before{
								border-radius: 10px;
								content:"";
								width:calc(100% - 20px);
								height:100%;
								left:10px;
								top:0;
								position: absolute;
								z-index: 0;
								background-color: #fff;
							}
							&-unit{
								&-button{
									padding:0 10px;
									font-size: 16px;
									position: relative;
									z-index: 1;
									margin-bottom: 0;
									height:60px;
									line-height: 60px;

								}
								&-info{
									z-index: 0;
									height:62px;
									padding: 16px 9px 5px 9px;
									&-header{
										margin-bottom: 0;
										&-title{
											display: none;
										}
										&-icon{
											right:21px;
											top:22px;
											position: absolute;
										}
									}
									&-text{
										max-width: calc(100% - 50px);
									}

								}

							}
						}
					}
				}
			}
		}
	}
}
.progress{
	padding:2px;
	width:100%;
	display: flex;
	height:10px;
	background-color: #fff;
	position: absolute;
	border-radius: 10px;
	z-index: 1;
	top:32px;
	width:calc(100% - 36px);
	left:50%;
	opacity: 0;
	@include transition(.3s);
	transform:translateX(-50%)translateY(-20%);

	&-unit{
		margin-right: 2px;
		flex:1;
		border-radius: 6px;
		height:6px;
		@include transition(.3s);
		background-color: transparent;
		&:last-child{
			margin-right: 0;
		}
		&_current{
			background-color: $yellow;
		}
		&_correct{
			background-color: $green;
		}
		&_wrong{
			background-color: $red;
		}
	}
	&_active{
		opacity: 1;
		transform:translateX(-50%);
	}
}
.button{
	width:100%;
	text-align: center;
	height:56px;
	line-height: 56px;
	font-weight: 900;
	border-radius: 6px;
	font-size: 18px;
	color:#fff;
	&_red{
		text-align: center;
		background-color: $red;
		box-shadow: 0px 10px 15px rgba(218, 0, 44, 0.4);
	}
	&_green{
		box-shadow: 0px 10px 15px rgba(0, 170, 88, 0.4);
		background-color: $green;
	}
}
.body{
	&_safari{
		.test-unit{
			padding-bottom: 75px;
		}
	}
}
/*
@media(max-width:374px){
	.test{
		&-unit{
			&-content{
			    padding: 44px 18px 10px 18px;
			    &-pretitle{
			    	margin-bottom: 7px;
			    	color:$purple;
			    }
			}
		}
	}
}
*/
@media(max-width: 340px){
	.progress{
		top:21px;
	}
	.test{
		&-wrap{
			
			padding:0 5px;
			&_simple{
				.test{
					&-unit{
						&_question{
							&-title{
								font-size: 18px;
								line-height: 24px;
								&_big{
									font-size: 24px;
									line-height: 30px;
								}
							}
							&-content{
								padding-bottom: 15px;
							}
						}
					}
				}
			}
			
		}
		&-unit{
			&-content{
				padding: 52px 10px 21px 10px;
				height:257px;
				&-image{
					top: -66px;
					max-width: 210px;
				}
				&-title{
					 font-size: 22px;
   					 line-height: 25px;
				}
			}
			&-center{
				    margin-top: 104px;
			}
			&_question{
				padding-top: 15px;
				padding-bottom: 5px;
				&-top{
					height: calc(100% - 175px);
				}
				&-title{
				    font-size: 16px;
    				line-height: 22px;
    				margin-bottom: 10px;
				}
				&-content{
					    padding: 22px 5px 5px 5px
				}
				&-answers{
					&-unit{
						padding:0 15px;
						height:40px;
						line-height: 40px;
						font-size: 16px;
					}
				}
				&-results{
					&-unit{
						&-button{
							padding:0 15px;
							font-size: 16px;
							height:82px;
							line-height:82px;
						}
						&-info{
							padding: 10px 15px;
							height:82px;

							&-header{
								margin-bottom: 3px;
								&-title{
									font-size: 16px;
								}
							}
							&-text{
								font-size: 12px;
								line-height: 14px;
							}
						}
					}
				}
			}
			&_final{
				padding-top: 15px;
				padding-bottom: 5px;
				&-image{
					justify-content:center;
				}
			}
			&-header{
				display: none;

			}
			&-footer{
				display: none;
			}
		}
		
	}
	.progress{
	    width: calc(100% - 20px);
	}
}
