include ./includes/components.jade

doctype html
html
	+head ('Index')

	body
		
		.header верхнее меню
		.test

			.rotate
				.rotate-text Переверните устройство!
			
			#test1.test-wrap
				
				.progress
					.progress-unit.progress-unit_current
					.progress-unit
					.progress-unit
					.progress-unit
				.test-unit
					.test-unit-header
						.test-unit-header-segment.test-unit-header-segment_blue
						.test-unit-header-segment.test-unit-header-segment_red
					.test-unit-center
						.test-unit-content
							img(src="images/test-main-image.png" alt="").test-unit-content-image
							.test-unit-content-pretitle Тест
							.test-unit-content-title Вы уверены, что знаете Москву? Докажите это!
							.test-unit-content-button.button.button_red Пройти тест!
						.test-unit-socials
							a(href="#/").test-unit-socials-unit.test-unit-socials-unit_facebook
								.test-unit-socials-unit-icon
								.test-unit-socials-unit-counter 14558
							a(href="#/").test-unit-socials-unit.test-unit-socials-unit_vk
								.test-unit-socials-unit-icon
								.test-unit-socials-unit-counter 5327
							a(href="#/").test-unit-socials-unit.test-unit-socials-unit_insta
								.test-unit-socials-unit-icon
								.test-unit-socials-unit-counter 6457
					.test-unit-footer
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 1 из 4
							.test-unit_question-title Какого вида ландшафта нет в парке Зарядье?
							.test-unit_question-image
								img(src="images/question-01.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Степь-матушка
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Дубравушка
								.test-unit_question-answers-unit Березовая роща
								.test-unit_question-answers-unit Лужок
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Увы, это не так. Правильный ответ — дубравушка. Мы сами были удивлены.	
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Дубравушка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Все правильно! Откуда ей там взяться, дубравушке-то?
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 2 из 4
							.test-unit_question-title Что на Новинском бульваре за последние годы увеличилось с 8 метров до 22 метров?
							.test-unit_question-image
								img(src="images/question-02.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Размер рекламных билбордов
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Ширина тротуаров
								.test-unit_question-answers-unit Длина самого бульвара
								.test-unit_question-answers-unit Цены на недвижимость
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Цены на недвижимость
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Горячо, но нет. Правильный ответ — ширина тротуаров.	
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Ширина тротуаров
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Это так! Не цена на недвижимость же. Там сложно подсчитать :)
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 3 из 4
							.test-unit_question-title В каком виде МосМетро выпустило карту «Тройка» для удобства пользования пассажирами?
							.test-unit_question-image
								img(src="images/question-03.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Спиннер
								.test-unit_question-answers-unit Чехол для телефона
								.test-unit_question-answers-unit Наушник
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Брелок
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Это брелок, конечно же! 
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Брелок
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Это так! Как хорошо, что все-таки не спиннер! Согласны?
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 4 из 4
							.test-unit_question-title 200-я станция московского метро и одна из первых в Новой Москве — это ...?
							.test-unit_question-image
								img(src="images/question-04.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Бульвар Дмитрия Донского
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Саларьево
								.test-unit_question-answers-unit Алма-Атинская
								.test-unit_question-answers-unit Минская
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Нет. Все-таки Саларьево. Сложный вопрос на самом деле.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Саларьево
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Откуда вы знаете?!  Это правильный ответ!
				.test-unit.test-unit_final
					.test-unit_final-content
						.test-unit_final-top
							.test-unit-content-pretitle Конец
							.test-unit-content-title Вы — настоящий краевед! Ваши друзья об этом знают?
							.test-unit_final-image
								img(src="images/end-image.png" alt="")
						.test-unit_final-button.button.button_green Пройти тест еще раз
					.test-unit-socials
						a(href="#/").test-unit-socials-unit.test-unit-socials-unit_facebook
							.test-unit-socials-unit-icon
							.test-unit-socials-unit-counter 14558
						a(href="#/").test-unit-socials-unit.test-unit-socials-unit_vk
							.test-unit-socials-unit-icon
							.test-unit-socials-unit-counter 5327
						a(href="#/").test-unit-socials-unit.test-unit-socials-unit_insta
							.test-unit-socials-unit-icon
							.test-unit-socials-unit-counter 6457
			.filler.filler_double
				.filler-unit
				.filler-unit
			.filler.filler_triple
				.filler-unit
				.filler-unit
				.filler-unit
			.filler
				.filler-unit