include ./includes/components.jade

doctype html
html
	+head ('Тест на знание Москвы')

	body
		script(type="text/javascript").
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter47587534 = new Ya.Metrika({
							id:47587534,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true,
							trackHash:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		.header верхнее меню
		.test.test_alt.test_alt_2
			.rotate
				.rotate-text Переверните устройство!
			
			.test-wrap
				
				.progress
					.progress-unit.progress-unit_current
					.progress-unit
					.progress-unit
					.progress-unit
					.progress-unit
					.progress-unit
					.progress-unit
					.progress-unit
					.progress-unit
					.progress-unit
				
					

				.test-unit
					.test-unit-header
						.test-unit-header-segment.test-unit-header-segment_blue
						.test-unit-header-segment.test-unit-header-segment_red
					.test-unit-center
						.test-unit-content
							img(src="images/test-main-image_02.png" alt="").test-unit-content-image
							.test-unit-content-pretitle Тест
							.test-unit-content-title Вы уверены, что знаете Москву? Докажите это!
							.test-unit-content-button.button.button_red(onclick="yaCounter47587534.reachGoal('test_start'); return true;") Пройти тест!
						//.test-unit-socials
							a(href="#/").test-unit-socials-unit.test-unit-socials-unit_facebook
								.test-unit-socials-unit-icon
								.test-unit-socials-unit-counter 14558
							a(href="#/").test-unit-socials-unit.test-unit-socials-unit_vk
								.test-unit-socials-unit-icon
								.test-unit-socials-unit-counter 5327
							a(href="#/").test-unit-socials-unit.test-unit-socials-unit_insta
								.test-unit-socials-unit-icon
								.test-unit-socials-unit-counter 6457
					.test-unit-footer
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 1 из 10
							.test-unit_question-title Какая это улица до реализации «adblock кампании»?
							.test-unit_question-image
								img(src="images/question02-01@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-02@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Мясницкая
								.test-unit_question-answers-unit Арбат
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Маросейка
								.test-unit_question-answers-unit Это точно Москва?
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Нет. Совсем уж забыли, старички, а это была Маросейка.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Верно! Маросейку теперь не узнать, правда?
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 2 из 10
							.test-unit_question-title Что стало главной достопримечательностью в этом долгострое?
							.test-unit_question-image
								img(src="images/question02-03@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-04@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Стена Белого города
								.test-unit_question-answers-unit Башня «Восток»
								.test-unit_question-answers-unit Фонтан на ВДНХ
								.test-unit_question-answers-unit Сами строители
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Цены на недвижимость
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Хорошая попытка, но это стена Белого города
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Стена Белого города
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green О, да! Уже были там?
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 3 из 10
							.test-unit_question-title Для кого построили отдельный павильон после реконструкции Крымской набережной?
							.test-unit_question-image
								img(src="images/question02-05@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-06@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Для пловцов
								.test-unit_question-answers-unit Фанатам памятника Петру I
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Для художников
								.test-unit_question-answers-unit Для детей
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Неправильно, для художников. И рядом ведь ЦДХ.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Для художников
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Правильно. Теперь и зимой тепло будет выбирать картины.
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 4 из 10
							.test-unit_question-title Как называется этот торговый объект на Лубянке до реконструкции?
							.test-unit_question-image
								img(src="images/question02-07@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-08@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct(onclick="yaCounter47587534.reachGoal('test1_middle'); return true;") Центральный детский мир
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test1_middle'); return true;") Метро 2033
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test1_middle'); return true;") Книжный магазин
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test1_middle'); return true;") Торговый центр «Наутилус»
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Ха! Нет, это культовый Центральный детский мир.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Ну конечно! Тот самый Центральный детский мир.
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 5 из 10
							.test-unit_question-title Памятник какому писателю вернули на площадь Тверская застава?
							.test-unit_question-image
								img(src="images/question02-09@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-10@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Корней Чуковский
								.test-unit_question-answers-unit Василий Быков
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Максим Горький
								.test-unit_question-answers-unit Сергей Михалков
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Нет, это Максим Горький. Памятник вернули из парка Музеон.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Все верно! С 2005 года памятник Горькому ждал возвращения.
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 6 из 10
							.test-unit_question-title Куда раньше вел этот проход через турникет?
							.test-unit_question-image
								img(src="images/question02-11@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-12@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Парк Горького
								.test-unit_question-answers-unit Стадион «Лужники»
								.test-unit_question-answers-unit В Московскую область
								.test-unit_question-answers-unit Коломенский парк
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Счастливые! Не помните уже, что это был Парк Горького.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Верно! Это Парк Горького. Смутные времена были...
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 7 из 10
							.test-unit_question-title Какая достопримечательность до реставрации?
							.test-unit_question-image
								img(src="images/question02-19@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-20@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Московский Планетарий
								.test-unit_question-answers-unit Метро «Ботанический сад» 
								.test-unit_question-answers-unit Все-таки стадион «Лужники»							
								.test-unit_question-answers-unit Павильон Космос на ВДНХ!
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Совсем нет, так выглядел Московский Планетарий
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Счет, пожалуйста!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Верно! Это наше астрономическое сердце Москвы — Планетарий
				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 8 из 10
							.test-unit_question-title Что это за здание до реставрации?
							.test-unit_question-image
								img(src="images/question02-13@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-14@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Теперь уж точно Космос на ВДНХ!
								.test-unit_question-answers-unit Московский ипподром
								.test-unit_question-answers-unit Усадьба Марьино
								.test-unit_question-answers-unit Охотничий домик Трубецких
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Не узнали павильон Космос, ну еще бы!
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Да, это павильон Космос, сходите!

				.test-unit.test-unit_question
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 9 из 10
							.test-unit_question-title Что это за улица до обустройства?
							.test-unit_question-image
								img(src="images/question02-15@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-16@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Проспект Мира
								.test-unit_question-answers-unit Рязанский проспект
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Новый Арбат
								.test-unit_question-answers-unit Шоссе Энтузиастов
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Нет, это Новый Арбат, теперь уже действительно новый
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Правильно, это Новый Арбат и новый маршрут для прогулок
				.test-unit.test-unit_question.test-unit_last.test-unit_last_first
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 10 из 10
							.test-unit_question-title Как узнать когда приедет следующий автобус?
							.test-unit_question-image
								img(src="images/question02-17@2x.png" alt="")
							.test-unit_question-image.test-unit_question-image_2
								img(src="images/question02-18@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test1_finish'); return true;") Почувствовать
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct(onclick="yaCounter47587534.reachGoal('test1_finish'); return true;") Посмотреть на табло
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test1_finish'); return true;") Прикинуть в уме
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test1_finish'); return true;") На все воля Божья!
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Неправильный ответ
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Очень смешно, но нет. Просто гляньте на табло.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Центральный детский мир
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Да, а скоро только такие остановки и будут!

				.test-unit.test-unit_final.test-unit_final_first
					.test-unit_final-content
						.test-unit_final-top
							.test-unit-content-pretitle Ваш результат <span class="result-number">0</span>/10
							.test-unit_final-image
								img(src="images/end-image.png" alt="")
							.test-unit-content-title Привет из будущего! Мы вас удивим: кепки уже не в моде,  но в центре Москвы появилась ледяная пещера!
						.test-unit_final-bottom
							.test-unit-content-title Хотите еще попытку с другими вопросами? 
							.test-unit_final-button.test-unit_final-button_next.button.button_red(onclick="yaCounter47587534.reachGoal('test2_start'); return true;") Пройти еще тест!
							.test-unit-content-title Приходите на день города в своем районе!
							.test-unit_final-button-wrap
								.test-unit_final-button.test-unit_final-button_share.button.button_green Рассказать друзьям
								a(href="https://moscowseasons.com/ru/festival/moscow871?utm_source=mozgva&utm_medium=test&utm_campaign=wifi" target="_blank").test-unit_final-button.button.button_green(onclick="yaCounter47587534.reachGoal('external_link1'); return true;") День города Москвы
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 1 из 8
							.test-unit_question-title Какого вида ландшафта нет в парке Зарядье?
							.test-unit_question-image
								img(src="images/question-01@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Степь-матушка
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Дубравушка
								.test-unit_question-answers-unit Березовая роща
								.test-unit_question-answers-unit Лужок
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Увы, это не так. Правильный ответ — дубравушка. Мы сами были удивлены.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Все правильно! Откуда ей там взяться, дубравушке-то?
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 2 из 8
							.test-unit_question-title Что на Новинском бульваре за последние годы увеличилось с 8 метров до 22 метров?
							.test-unit_question-image
								img(src="images/question-02@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Размер рекламных билбордов
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Ширина тротуаров
								.test-unit_question-answers-unit Длина самого бульвара
								.test-unit_question-answers-unit Цены на недвижимость
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Горячо, но нет. Правильный ответ — ширина тротуаров.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Это так! Не цена на недвижимость же. Там сложно подсчитать :)
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 3 из 8
							.test-unit_question-title В каком виде МосМетро выпустило карту «Тройка» для удобства пользования пассажирами?
							.test-unit_question-image
								img(src="images/question-03@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test2_middle'); return true;") Спиннер
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test2_middle'); return true;") Чехол для телефона
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct(onclick="yaCounter47587534.reachGoal('test2_middle'); return true;") Брелок
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test2_middle'); return true;") Наушник
								
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Это брелок, конечно же! 
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Это так! Как хорошо, что все-таки не спиннер! Согласны?
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 4 из 8
							.test-unit_question-title 200-я станция московского метро и одна из первых в Новой Москве — это ...?
							.test-unit_question-image
								img(src="images/question-04@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Бульвар Дмитрия Донского
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Саларьево
								.test-unit_question-answers-unit Алма-Атинская
								.test-unit_question-answers-unit Минская
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Нет. Все-таки Саларьево. Сложный вопрос на самом деле.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Откуда вы знаете?! Это правильный ответ!
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 5 из 8
							.test-unit_question-title Отреставрированный «Каменный цветок» на территории Лужников — это...
							.test-unit_question-image
								img(src="images/question-05@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Памятник хоккеисту Василькову
								.test-unit_question-answers-unit Зимний сад
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Фонтан
								.test-unit_question-answers-unit Буфет
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Нет такого хоккеиста, буфета и зимнего сада. Это фонтан!
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Конечно, фонтан! До 6 метров в высоту, между прочим.
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 6 из 8
							.test-unit_question-title Какая астрономическая площадка воссоздана на крыше Планетария?
							.test-unit_question-image
								img(src="images/question-06@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct  Парк неба
								.test-unit_question-answers-unit Школа Павла Глобы
								.test-unit_question-answers-unit 4D кинотеатр
								.test-unit_question-answers-unit Кафе «Луна»
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Когда в последний раз ходили в Планетарий? То-то, это парк неба.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Верно! Там все, что мы любим: планисфера, глобусы...
				.test-unit.test-unit_question.test-unit_question_singleImage
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 7 из 8
							.test-unit_question-title «Под присмотром» какого памятника москвичи катаются на качелях в центре Москвы?
							.test-unit_question-image
								img(src="images/question-07@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit Юрий Долгорукий
								.test-unit_question-answers-unit Александр Пушкин
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct Владимир Маяковский
								.test-unit_question-answers-unit Михаил Калашников
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Смешно, но нет. Это Владимир наш Маяковский
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Следующий вопрос!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Точно! Все мы любим Маяковского и качели
				.test-unit.test-unit_question.test-unit_question_singleImage.test-unit_last.test-unit_last_second
					.test-unit_question-content
						.test-unit_question-top
							.test-unit_question-pretitle Вопрос 8 из 8
							.test-unit_question-title Кто выбирал артистов, которые выступали на выпускном в 2018 году в Парке Горького?
							.test-unit_question-image
								img(src="images/question-08@2x.png" alt="")
						.test-unit_question-info
							.test-unit_question-answers
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test2_finish'); return true;") Иосиф Пригожин лично
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test2_finish'); return true;") Сергей Собянин<br> с помощниками
								.test-unit_question-answers-unit.test-unit_question-answers-unit_correct(onclick="yaCounter47587534.reachGoal('test2_finish'); return true;") Сами выпускники на ag.mos.ru
								.test-unit_question-answers-unit(onclick="yaCounter47587534.reachGoal('test2_finish'); return true;") Подписчики <br>Ольги Бузовой
							.test-unit_question-results
								.test-unit_question-results-unit.test-unit_question-results-unit_wrong
									.test-unit_question-results-unit-button Ясно. Едем дальше!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Березовая роща
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_red
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_red Ну вы чего! Конечно это сами выпускники выбирали.
								.test-unit_question-results-unit.test-unit_question-results-unit_correct
									.test-unit_question-results-unit-button Счет, пожалуйста!
									.test-unit_question-results-unit-info
										.test-unit_question-results-unit-info-header
											.test-unit_question-results-unit-info-header-title Маросейка
											.test-unit_question-results-unit-info-header-icon.test-unit_question-results-unit-info-header-icon_green
										.test-unit_question-results-unit-info-text.test-unit_question-results-unit-info-text_green Все верно, представляете? Выпускники сами выбирали!
				.test-unit.test-unit_final.test-unit_final_second
					.test-unit_final-content
						.test-unit_final-top
							.test-unit-content-pretitle Ваш результат <span class="result-number">0</span>/10
							.test-unit_final-image
								img(src="images/end-image.png" alt="")
							.test-unit-content-title Привет из будущего! Мы вас удивим: кепки уже не в моде,  но в центре Москвы появилась ледяная пещера!
						.test-unit_final-bottom
							.test-unit-content-title Приходите на день города в своем районе!
							a(href="https://moscowseasons.com/ru/festival/moscow871?utm_source=mozgva&utm_medium=test&utm_campaign=wifi" target="_blank").test-unit_final-button.button.button_red(onclick="yaCounter47587534.reachGoal('external_link2'); return true;") День города Москвы
							a(href="#/").test-unit_final-button.test-unit_final-button_share.button.button_green Рассказать друзьям

			.filler.filler_double
				.filler-unit
				.filler-unit
			.filler.filler_triple
				.filler-unit
				.filler-unit
				.filler-unit
			.filler
				.filler-unit
		.popup.popup-share
			.popup-share-body
				.popup-share-title Поделиться тестом
				.popup-share-wrap
					<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="//yastatic.net/share2/share.js"></script>
					<div class="ya-share2"data-title="Тест на знание Москвы" data-image="https://raw.githubusercontent.com/Heliken/moscow/master/images/share.png" data-limit="4" data-bare data-services="whatsapp,twitter,telegram,facebook,vkontakte"></div>
				.popup-share-close Отмена		