include ./includes/components.jade

doctype html
html
	+head ('Index')

	body
		.main
			.main-wrap
				.progress
					.progress-unit.progress-unit_current
					.progress-unit
					.progress-unit
					.progress-unit
				.main-unit
					.main-unit-header
						.main-unit-header-segment.main-unit-header-segment_blue
						.main-unit-header-segment.main-unit-header-segment_red
					.main-unit-center
						.main-unit-content
							img(src="images/main-image.png" alt="").main-unit-content-image
							.main-unit-content-pretitle Тест
							.main-unit-content-title Вы уверены, что знаете Москву? Докажите это!
							.main-unit-content-button.button.button_red Пройти тест!
						.main-unit-socials
							a(href="#/").main-unit-socials-unit.main-unit-socials-unit_facebook
								.main-unit-socials-unit-icon
								.main-unit-socials-unit-counter 14558
							a(href="#/").main-unit-socials-unit.main-unit-socials-unit_vk
								.main-unit-socials-unit-icon
								.main-unit-socials-unit-counter 5327
							a(href="#/").main-unit-socials-unit.main-unit-socials-unit_insta
								.main-unit-socials-unit-icon
								.main-unit-socials-unit-counter 6457
					.main-unit-footer
				.main-unit.main-unit_question
					.main-unit_question-content
						.main-unit_question-top
							.main-unit_question-pretitle Вопрос 1 из 4
							.main-unit_question-title Какого вида ландшафта нет в парке Зарядье?
							.main-unit_question-image
								img(src="images/question-01.png" alt="")
						.main-unit_question-info
							.main-unit_question-answers
								.main-unit_question-answers-unit Степь-матушка
								.main-unit_question-answers-unit.main-unit_question-answers-unit_correct Дубравушка
								.main-unit_question-answers-unit Березовая роща
								.main-unit_question-answers-unit Лужок
							.main-unit_question-results
								.main-unit_question-results-unit.main-unit_question-results-unit_wrong
									.main-unit_question-results-unit-button Ясно. Едем дальше!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Березовая роща
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_red
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_red Увы, это не так. Правильный ответ — дубравушка. Мы сами были удивлены.	
								.main-unit_question-results-unit.main-unit_question-results-unit_correct
									.main-unit_question-results-unit-button Следующий вопрос!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Дубравушка
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_green
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_green Все правильно! Откуда ей там взяться, дубравушке-то?
				.main-unit.main-unit_question
					.main-unit_question-content
						.main-unit_question-pretitle Вопрос 2 из 4
						.main-unit_question-title Что на Новинском бульваре за последние годы увеличилось с 8 метров до 22 метров?
						.main-unit_question-image
							img(src="images/question-02.png" alt="")
						.main-unit_question-info
							.main-unit_question-answers
								.main-unit_question-answers-unit Размер рекламных билбордов
								.main-unit_question-answers-unit.main-unit_question-answers-unit_correct Ширина тротуаров
								.main-unit_question-answers-unit Длина самого бульвара
								.main-unit_question-answers-unit Цены на недвижимость
							.main-unit_question-results
								.main-unit_question-results-unit.main-unit_question-results-unit_wrong
									.main-unit_question-results-unit-button Ясно. Едем дальше!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Цены на недвижимость
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_red
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_red Горячо, но нет. Правильный ответ — ширина тротуаров.	
								.main-unit_question-results-unit.main-unit_question-results-unit_correct
									.main-unit_question-results-unit-button Следующий вопрос!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Ширина тротуаров
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_green
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_green Это так! Не цена на недвижимость же. Там сложно подсчитать :)
				.main-unit.main-unit_question
					.main-unit_question-content
						.main-unit_question-pretitle Вопрос 3 из 4
						.main-unit_question-title В каком виде МосМетро выпустило карту «Тройка» для удобства пользования пассажирами?
						.main-unit_question-image
							img(src="images/question-03.png" alt="")
						.main-unit_question-info
							.main-unit_question-answers
								.main-unit_question-answers-unit Спиннер
								.main-unit_question-answers-unit Чехол для телефона
								.main-unit_question-answers-unit Наушник
								.main-unit_question-answers-unit.main-unit_question-answers-unit_correct Брелок
							.main-unit_question-results
								.main-unit_question-results-unit.main-unit_question-results-unit_wrong
									.main-unit_question-results-unit-button Ясно. Едем дальше!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Неправильный ответ
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_red
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_red Это брелок, конечно же! 
								.main-unit_question-results-unit.main-unit_question-results-unit_correct
									.main-unit_question-results-unit-button Следующий вопрос!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Брелок
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_green
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_green Это так! Как хорошо, что все-таки не спиннер! Согласны?
				.main-unit.main-unit_question
					.main-unit_question-content
						.main-unit_question-pretitle Вопрос 4 из 4
						.main-unit_question-title 200-я станция московского метро и одна из первых в Новой Москве — это ...?
						.main-unit_question-image
							img(src="images/question-04.png" alt="")
						.main-unit_question-info
							.main-unit_question-answers
								.main-unit_question-answers-unit Бульвар Дмитрия Донского
								.main-unit_question-answers-unit.main-unit_question-answers-unit_correct Саларьево
								.main-unit_question-answers-unit Алма-Атинская
								.main-unit_question-answers-unit Минская
							.main-unit_question-results
								.main-unit_question-results-unit.main-unit_question-results-unit_wrong
									.main-unit_question-results-unit-button Ясно. Едем дальше!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Неправильный ответ
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_red
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_red Нет. Все-таки Саларьево.  Сложный вопрос на самом деле.
								.main-unit_question-results-unit.main-unit_question-results-unit_correct
									.main-unit_question-results-unit-button Следующий вопрос!
									.main-unit_question-results-unit-info
										.main-unit_question-results-unit-info-header
											.main-unit_question-results-unit-info-header-title Брелок
											.main-unit_question-results-unit-info-header-icon.main-unit_question-results-unit-info-header-icon_green
										.main-unit_question-results-unit-info-text.main-unit_question-results-unit-info-text_green Откуда вы знаете?!  Это правильный ответ!
				.main-unit.main-unit_final
					.main-unit_final-content
						.main-unit-content-pretitle Конец
						.main-unit-content-title Вы — настоящий краевед! Ваши друзья об этом знают?
						.main-unit_final-image
							img(src="images/end-image.png" alt="")
						.main-unit_final-button.button.button_green Пройти тест еще раз
					.main-unit-socials
						a(href="#/").main-unit-socials-unit.main-unit-socials-unit_facebook
							.main-unit-socials-unit-icon
							.main-unit-socials-unit-counter 14558
						a(href="#/").main-unit-socials-unit.main-unit-socials-unit_vk
							.main-unit-socials-unit-icon
							.main-unit-socials-unit-counter 5327
						a(href="#/").main-unit-socials-unit.main-unit-socials-unit_insta
							.main-unit-socials-unit-icon
							.main-unit-socials-unit-counter 6457
